# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# Keystore files (optional - prevent sensitive info from being uploaded)
keystore.json
mywallet-keystore.json

# Environment files (if needed in future)
.env